<!DOCTYPE html>
<html>
<head>
	<title>Verification</title>
	<!-- head ---------------------------- -->
	   <%- include('./common/head') -%> 
	<!-- head closed --------------------- --> 
</head>
<body style="background: #FFE8DF!important">

	<!-- Message -------------------------- -->
    <%- include('./common/message') -%>
    <!-- Message ends --------------------- -->

	<div class="jumbotron jumbotron-fluid note2">
	  	<div class="container title" style="font-family: 'Lobster', cursive;">
	    	<h1 class="display-5">Please check your email and click on the verification link</h1>
	    	<h1 class="display-5">Once your are done with the verification click the verified button
	    	</h1>
	  	</div>
	</div>

	<div class ='formdiv'>
	<div class="formitemdiv2">
	<form action = "/events/:<%=data.Email%>" method="POST" autocomplete="off" >
	    <div class="form-group">
    		<input type="search" style="box-shadow: .5em .5em .5em .5em #493933;color:#391C11" name="Email" class="form-control searchinp" id="myTextInput"  placeholder="Email Id" value="<%=data.Email%>" readonly>
    		<div class="verifiedButton">
	  		<button type="submit" class="verify" >Verified</button>
	  		<div>
	  	</div>
	</form>
	</div>
	</div>


	<!-- Bootstrap script tags ------------------------ -->
	   <%- include('./common/bootstrapScript') -%> 
	<!-- Bootstrap script tags closed ----------------- --> 

	<script>

		let verifiedButton = document.getElementById('verifiedButton');
		let formid = document.getElementById('formid');

		setTimeout(() =>{
			formid.action = "/notverified" ; 
			verifiedButton.click(); 
		}, 900000)
		
	</script>
</body>
</html>